* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
}

p {
  font-family: Porpora;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

h1 {
  font-family: Outfit;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
}

h2 {
  font-family: Outfit;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}

@font-face {
  font-family: Porpora;
  src: url(./assets/fonts/Porpora-Regular\ 12.14.56.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap");

/* Colors */
:root {
  --primary-color: #26c1d9;
  --secondary-color: #072038;
  --tertiary-color: #fd7762;
  --gray: #f7fafb;
  --white: #fff;
  --blue: #f0fdff;
}

/* Titles size and fonts */

/* Btn css */
.btn_blue {
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: var(--secondary-color);
  text-align: center;
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.arrow-right-btn {
  display: none;
}

.btn_blue:hover .arrow-right-btn {
  display: block;
  transition: 0.5s ease-in-out 100ms;
}

.btn_orange:hover .arrow-right-btn {
  display: block;
  transition: opacity 0.5s ease-in-out 100ms;
}

.borderless_btn:hover .arrow-right-btn {
  display: block;
  transition: opacity 0.5s ease-in-out 100ms;
}

.borderless_btn:hover {
  opacity: 0.5;
}

.btn_orange {
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  color: var(--secondary-color);
  gap: 8px;
  border-radius: 30px;
  border: 1px solid var(--tertiary-color);
  background: var(--tertiary-color);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.borderless_btn {
  color: var(--primary-color);
  font-family: "Outfit";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}

/* Navbar */

.maintenance {
  display: flex;
  padding: 8px 80px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: var(--gray);
}

.maintenance_text {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 20px;
}

.navbar {
  background: var(
    --body-gradient,
    linear-gradient(90deg, #072038 0%, #0a355f 100%)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5rem;
}

.logo-img {
  width: 190px;
}

.navbar_left {
  color: var(--white);
  display: flex;
  align-items: end;
  gap: 48px;
}
.navbar_ul {
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  height: 64px;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.navbar_li {
  text-decoration: none !important;
}

.navbar_container {
  display: none !important;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.language {
  display: flex;
  align-items: flex-start;
  color: var(--primary-color);
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

#chevron-lang {
  margin: 0.2rem 0 0 0.3rem;
}

.language:hover {
  opacity: 0.5;
}

/* Introduction */

.intro {
  padding-top: 7.8rem;
  background: var(
    --body-gradient,
    linear-gradient(90deg, #072038 0%, #0a355f 100%)
  );
}

.main_intro {
  padding: 0.5rem 5rem;
  width: 50%;
}
.main_title {
  color: var(--white);
}

.main_orga {
  color: var(--primary-color);
}

.main_description {
  align-self: stretch;
  color: var(--white);

  margin-top: 2rem;
  font-family: Porpora;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#intro-btn {
  margin-top: 2rem;
  text-transform: uppercase;
}

.img_datacloud {
  float: right;
  padding: 5rem;
  margin-top: -420px;
  width: 650px;
  height: 550px;
}

.client_container {
  padding: 3rem 5rem;
  display: flex;
}

.client_img {
  padding-right: 2rem;
  height: 50px;
  width: 200px;
  object-fit: contain;
}

.banner_layout {
  margin-top: 6rem;
  transform: rotate(-3.5deg);
  text-align: center;
  font-family: Outfit;
  font-size: 160px;
  font-style: normal;
  font-weight: 500;
  line-height: 160px; /* 100% */
  text-transform: uppercase;
  color: var(--primary-color);
  white-space: nowrap;
  overflow: hidden;
}

.layout_data {
  text-shadow: -1px 1px 0 #26c1d9, 1px 1px 0 #26c1d9, 1px -1px 0 #26c1d9,
    -1px -1px 0 #26c1d9;

  color: rgba(7, 32, 56, 0.9);
}

.img_separation {
  margin-top: 3rem;
  display: flex;
  width: 100%;
}

/* Problematic */

.problems {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0 0 11rem;
}

.problem_title {
  color: var(--secondary-color);
}

.paragraph {
  width: 40%;
  margin-left: 10rem;
}

#problem-btn {
  margin-top: 2rem;
}

.transition_img {
  text-align: center;
}

.computer_screen {
  width: 1050px;
  height: 420px;
}

/* Challenge */
.challenge {
  margin-top: -13rem;
  background: var(
    --body-gradient,
    linear-gradient(90deg, #072038 0%, #0a355f 100%)
  );
}

.challenge_title {
  padding-top: 20rem;
  color: var(--white);
  text-align: center;
}

.challenge_span {
  color: var(--primary-color);
}

.challenge_datafactory {
  display: flex;
  justify-content: space-between;
  background: var(--white);
  margin: 5rem;
  border-radius: 1.5rem;
}

.challenge_propilot {
  display: flex;
  margin: 5rem;
  border-radius: 1.5rem;
  background: var(--white) no-repeat right url("./assets/img/Ellipse\ 20.png");
}

.challenge_img {
  margin: 2rem 5rem 0 5rem;
  width: 600px;
  height: 800px;
  object-fit: contain;
}

.datafactory_desc {
  margin: 5rem;
}

.datafactory_title {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

#title_icon {
  margin-right: 2rem;
}

.datafactory_text {
  margin-bottom: 2rem;
}

.datafactory_li {
  padding: 10px;
  margin-top: 2rem;
  color: var(--secondary-color);
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.datafactory_li:hover {
  transition: background-color 0.5s ease-in-out 100ms;
  padding: 10px;
  border-radius: 10px;
  background: var(--blue);
  cursor: pointer;
}

.datafactory_li:hover .icon_card {
  background: var(--white);
  transition: background-color 0.5s ease-in-out 100ms;
}

.icon_card {
  padding: 20px;
  border-radius: 10px;
  margin-right: 1rem;
  background: var(--blue);
}

#datafactory_btn {
  margin-top: 2rem;
}

/* They Trust in Pilot'in */
.trust {
  margin-top: 3rem;
  text-align: center;
  background: no-repeat right url("./assets/img/shape-dot-white-bg.png");
  padding-bottom: 1rem;
}

.trust_title {
  color: var(--secondary-color);
}
.trust_text {
  color: var(--secondary-color);
  font-family: Outfit;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px;
}

.trust_img {
  position: relative;
  z-index: -10;
}

.trust_container .trust_card {
  display: none;
}

.trust_card.active {
  animation: fade 0.8s;
  transform: translateX(0) scale(1);
  transition-delay: 0.4s;
  margin: 3rem 5rem 5rem 5rem;
  display: flex;
  height: 600px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 32px;
  background: var(--secondary-color);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.trust_card_banner {
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

.trust_card_banner::after {
  background: linear-gradient(270deg, #072038 0%, rgba(7, 32, 56, 0) 100%);
  z-index: 100;
}

#trust_player {
  color: var(--white);
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  padding: 15px 20px 15px 20px;
  border-radius: 50%;
  position: relative;
  left: -26%;
  top: 45%;
}

.trust_card_container {
  margin: 2rem 2rem 2rem 0;
  text-align: start;
}

.trust_card_logo {
  object-fit: contain;
  width: 150px;
  height: 50px;
  margin-bottom: 1rem;
}

.trust_card_name {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.trust_card_desc {
  font-size: 36px;
  color: var(--white);
  line-height: 40px;
  margin-bottom: 2rem;
}

.arrow_icon {
  cursor: pointer;
}

.next_screen {
  background: var(--secondary-color);
}

.next_screen1 {
  background: var(--secondary-color);
}

.next_screen2 {
  background: var(--secondary-color);
}

.prev_screen {
  background: var(--secondary-color);
}

.prev_screen1 {
  background: var(--secondary-color);
}

.prev_screen2 {
  background: var(--secondary-color);
}

.arrow_left {
  margin-right: 1rem;
  padding: 10px;
  cursor: pointer;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 40px;
}

.arrow_right {
  cursor: pointer;
  padding: 10px;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 30px;
}

.arrow_left:hover {
  color: var(--secondary-color);
  background-color: var(--white);
  transition: background-color 0.5s ease-in-out 100ms;
}

.arrow_right:hover {
  color: var(--secondary-color);
  background-color: var(--white);
  transition: background-color 0.5s ease-in-out 100ms;
}

.dot_pagination {
  align-items: flex-start;
  display: flex;
  justify-content: start;
  margin-top: 3rem;
}

.dot {
  background: var(--gray);
  border-radius: 8px;
  height: 12px;
  margin: 0 5px;
  transform: scale(0.75);
  transition: transform 0.4s, background 0.4s;
  width: 12px;
}

.dot.active {
  background: var(--primary-color);
  transform: scale(1);
  transition-delay: 0.4s;
}

/* Articles de blog */
.article {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5rem;
}

.article_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.article_title {
  margin: 2rem;
}

.article_text {
  max-width: 1100px;
}
.article_cards {
  display: flex;
  justify-content: space-between;
}

.article_card {
  margin: 2rem;
  padding: 1rem;
  border: 2px solid #a0bdc0;
  border-radius: 10px;
  width: 500px;
  height: 480px;
}

.article_card:hover {
  background-color: var(--blue);
  transition: background-color 0.5s ease-in-out 100ms;
  border: 2px solid var(--blue);
}

.article_card:hover .article_btn {
  background-color: var(--blue);
  transition: background-color 0.5s ease-in-out 100ms;
}

.article_card:hover .card_arrow_btn {
  background-color: var(--blue);
  transition: background-color 0.5s ease-in-out 100ms;
}

.article_btn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-family: Porpora;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--white);
  margin: 1rem;
  cursor: pointer;
}

.article_btn:hover {
  background-color: var(--primary-color) !important;
  color: var(--white);
  transition: background-color 0.5s ease-in-out 100ms;
}

.article_explication {
  margin: 1rem;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
}

.article_description {
  margin: 1rem;
}

.article_footer {
  margin: 2rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_arrow_btn {
  background-color: var(--white);
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.card_arrow_btn:hover {
  background-color: var(--secondary-color) !important;
  color: var(--white);
  transition: background-color 0.5s ease-in-out 100ms;
}

/* Book a demo part */

.book {
  margin: 5rem;
}

.book_demo {
  display: flex;
  height: 600px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.book_img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.book_description {
  margin: 8rem 5rem 5rem 5rem;
}

.book_title {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.book_subtitle {
  color: var(--white);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 2rem;
}

/* Footer */

.links {
  height: 300px;
  margin: 10rem 5rem 0 5rem;
  background: no-repeat right url("./assets/img/shape-dot-white-bg.png");
  display: flex;
  justify-content: space-between;
}

.links_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.links_title {
  margin-bottom: 1rem;
  color: #156b79;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  list-style: none;
}

.books_link {
  text-decoration: none;
  margin-top: 0.5rem;
}

.footer_banner {
  padding: 1rem 5rem 1rem 5rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--gray);
}

.footer_link {
  color: black;
}

.footer_link:visited {
  color: black !important;
}

/* A FAIRE /!\ */

/* Transition flèche en hover */
/* On scroll anim parallaxe */
/* MEGA Menu */
/* Media Queries */

/* 1440 px & + */

/* 720 px & + */

/* 350 px & + */
